/*
*   Description: Typography definitions
*/

@font-face {
    font-family: 'Roboto Bold';
    src: url('../styles/scss/vendor/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../styles/scss/vendor/fonts/Roboto-Regular.ttf') format('truetype');
}