/*
*   Description: All variables
*/

// Core colours
$white: #ffffff;
$black: #000000;
$navy: #231c86;
$body-BG: $white;
$body-color: $black;

// Font sizes
$font-size-xl: 2.5rem; 
$font-size-lg: 1.5rem; 
$font-size-md: 1rem; 
$font-size-sm: .8rem; 
$line-height-base: 1.6;
$heading-font: 'Roboto Bold';
$body-font: 'Roboto Regular';

// Media screens
$tablet: 540px;

// Icons
$dropdown-icon: './scss/vendor/icons/dropdown-icon.svg;';
$hamburger-icon: './scss/vendor/icons/hamburger-icon.svg;';
$close-icon: './scss/vendor/icons/close-icon.svg;';

// Border radius
$round-radius: 30px;

// Navigation bar
$nav-bar-bg: $navy;
$nav-bar-color: $white;
$nav-bar-color-hover: $white;
$nav-bar-mobile-border: 1px solid $white;

// Footer
$footer-bg: $black;
$footer-links-color: $white;

// Links
$link-color: $navy;