/*
*   Description: All variables
*/

// Core colours
$white: #ffffff;
$black: #000000;
$grey: #333333;
$navy: #303f9f;
$body-BG: $white;
$body-color: $black;

// Font sizes
$font-size-xl: 3rem; 
$font-size-lg: 1.5rem; 
$font-size-md: 1rem; 
$font-size-sm: .8rem; 
$line-height-base: 1.6;
$heading-font: 'Roboto Bold';
$body-font: 'Roboto Regular';

// Media screens
$tablet: 540px;

// Icons
$dropdown-icon: './styles/scss/vendor/icons/dropdown-icon.svg;';
$hamburger-icon: './styles/scss/vendor/icons/hamburger-icon.svg;';
$close-icon: './styles/scss/vendor/icons/close-icon.svg;';

// Navigation bar
$nav-bar-bg: $navy;
$nav-bar-color: $white;
$nav-bar-color-hover: $white;
$nav-bar-mobile-border: 1px solid $white;
$nav-bar-sub-border: 2px solid $black;

// Footer
$footer-bg: $black;
$footer-links-color: $white;