/*
*   Description: Navigation bar styling
*/

.navbar-container {
    background-color: $nav-bar-bg;
    height: 100%;
    padding: 0;

    .mobile-nav-toggler-container {
        @extend .py-2;

        display: flex;
        flex-direction: row-reverse;

        .mobile-nav-toggler {
            background-image: url($hamburger-icon);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 20px;
            width: 20px;
        }

        .toggler-open {
            background-image: url($close-icon);
        }

        @media only screen and (min-width: $tablet) {
            display: none;
        }
    }

    .navbar {
        display: block;
        height: 100vh;
        padding: 0;
        width: 100%;

        @media only screen and (min-width: $tablet) {
            &.hidden {
                display: flex !important;
                margin: 0;
                width: 100%;
            }
        }
    
        .menu-item {
            @extend .py-1;

            border-top: $nav-bar-mobile-border;
            position: relative;

            a {
                font-family: $heading-font;
                font-size: $font-size-lg;
                padding-left: 1em;

                &:hover {
                    color: $body-color;
                    text-decoration: none;
                }
                
                @media only screen and (min-width: $tablet) {
                    padding-left: 0;
                }
            }

            @media only screen and (min-width: $tablet) {
                border-top: 0;
                margin-left: 1em;

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    
        // Nav bar dropdown 
        .menu-item-has-children {
            position: relative;

            .sub-menu {
                background-color: $nav-bar-bg;
                padding: 0;
                padding-left: 1em;
                
                .menu-item {
                    margin-left: 0;
                    
                    a {
                        font-size: $font-size-md;
                    }

                    &:first-of-type {
                        border-top: none;
                        padding-bottom: 0;
                    }
                }

                @media only screen and (min-width: $tablet) {
                    border: $nav-bar-sub-border;
                    border-top: 0;
                    margin-top: 3px;
                    max-width: 150px;
                    padding: 0 1em;
                    position: absolute;
                    width: max-content;
                }

                &:hover {
                    display: block !important;
                }
            }

            &::before {
                content: url($dropdown-icon);
                display: block;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;

                @media only screen and (min-width: $tablet) {
                    display: none;
                }
            }

            @media only screen and (min-width: $tablet) {
                &:hover {
                    .sub-menu.hidden {
                        display: block !important;
                    }
                }
            }
        }

        .opened-dropdown::before {
            top: 15px;
            transform: rotateX(180deg);
        }

        @media only screen and (min-width: $tablet) {
            height: 100%;
        }
    }

    @media only screen and (min-width: $tablet) {
        display: flex;
    }
}